    deer-view, .deer-view{
        
    }
    #surveyBegin{
        display: block;
        margin: 0 auto;
        padding: 10em;
        top: 2em;
        position: relative;
    }
    #surveyLoader{
        position: absolute;
        width: 100em;
        height: 100em;
        display: block;
        background-image: url(../icons/loading.gif);
        background-size: 34em;
        background-position: top;
        background-repeat: no-repeat;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: rgba(1,1,1,.7);
        color: white;
        font-weight: bold;
    }
    survey-top{
        position: relative;
        display: block;
        top: 0px;
        background-color: black;
        color: white;
        padding: 1em;
        width: 100%;
        text-align: center;
    }
    lbl{
        display: inline-block;
        margin-right:5px;
        font-size: 110%;
    }
    theval{
        display:inline-block; 
    }
    lbl::after { 
        content: ":";
    }
    form{
        /*border: 2px solid black;*/
        background-color: white;
        text-align: left;
    }
    textarea{
        height: 6em;
        display: block;
    }
    .hidden{
        display: none !important;
    }
    textarea, input[type="text"]{
        width: 27em;
        margin-bottom: 6px;
    }
    .container{
        text-align:center;
    }
    survey-info{
        right: 0px;
        top: 4em;
        height: 20em;
        display: block;
        background-color: lightgray;
        z-index: 10;
        position: fixed;
        padding-left: 3em;
        transition: width 1s;
        overflow-y: scroll;
        overflow-x: hidden;
        text-align: left;
    }
    .info_collapsed{
         width: 3em;
         right: -18px;
    }
    .info_expanded{
        width: 50em;
        right: 0px;
    }
    info-toggle{
        background-image: url(../icons/info.png);
        background-size: 3em;
        height: 3em;
        width: 3em;
        position: absolute;
        left: 0px;
        top: 8em;
    }
    .question{
        display: inline-block;
        text-decoration: none;
        border: none;
        width: 100% !important;
        word-wrap: break-word;
        word-break: break-all;
        height: 2em;
    }
    .card{
        margin-bottom: 2px;
        border: 1px solid black;
        background-color: white;
    }
    html, body{
        background-color: #222;
    }
    entry-line{
        position: relative;
        display:block;

    }


    /* new generic view development */
    .dataWrap{
        
    }

    .kind{
        display: none;
        margin-bottom: 20px; 
    }

    .kind[for="spaces"]{
        border: 2px solid blue;
    }

    .kind[for="things"]{
        border: 2px solid orange;
    }

    .kind[for="senses"]{
        border: 2px solid green;
    }

    .kind[for="words"]{
        border: 2px solid purple;
    }

    .kind[for="practices"]{
        border: 2px solid aqua;
    }

    #jewishSub{
        display: none;
    }

    generic-experience{
        display: block;
        position: relative;
        border: 2px dotted black;
        margin-top: 100px;
    }

    generic-top{
        position: relative;
        display: block;
        top: 0px;
        background-color: black;
        color: white;
        padding: 1em;
        width: 100%;
        text-align: center;
    }