<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyDelete</servlet-name>
        <servlet-class>crud.TinyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyOverwrite</servlet-name>
        <servlet-class>crud.TinyOverwrite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyQuery</servlet-name>
        <servlet-class>crud.TinyQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinySave</servlet-name>
        <servlet-class>crud.TinySave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyUpdate</servlet-name>
        <servlet-class>crud.TinyUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsers</servlet-name>
        <servlet-class>users.GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserRoles</servlet-name>
        <servlet-class>users.GetUserRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserSecret</servlet-name>
        <servlet-class>users.GetUserSecret</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setUserRoles</servlet-name>
        <servlet-class>users.SetUserRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setUsername</servlet-name>
        <servlet-class>users.SetUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setUserSecret</servlet-name>
        <servlet-class>users.SetUserSecret</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>users.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUser</servlet-name>
        <servlet-class>users.RemoveUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyDelete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyOverwrite</servlet-name>
        <url-pattern>/overwrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyQuery</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinySave</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyUpdate</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsers</servlet-name>
        <url-pattern>/getUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserRoles</servlet-name>
        <url-pattern>/getUserRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserSecret</servlet-name>
        <url-pattern>/getUserSecret</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setUsername</servlet-name>
        <url-pattern>/setUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setUserSecret</servlet-name>
        <url-pattern>/setUserSecret</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setUserRoles</servlet-name>
        <url-pattern>/setUserRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUser</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
</web-app>
