<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyDelete</servlet-name>
        <servlet-class>crud.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyOverwrite</servlet-name>
        <servlet-class>crud.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyQuery</servlet-name>
        <servlet-class>crud.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinySave</servlet-name>
        <servlet-class>crud.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinyUpdate</servlet-name>
        <servlet-class>crud.Logout</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyDelete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyOverwrite</servlet-name>
        <url-pattern>/overwrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyQuery</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinySave</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinyUpdate</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
</web-app>
