@import "https://unpkg.com/chota@latest";

.tabs {
  white-space: nowrap;
}

textarea {
  resize: vertical;
  max-height: 20rem;
}

.needs-more {
  display: inline-block;
}

.needs-more:not(#researchers .needs-more)::before {
  content: "⚠ ";
  color: red;
  display: inline-block;
}

/* Feedback */

#globalFeedback {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px;
    text-align: center;
    position: fixed; 
    z-index: 9; 
    left: 50%;
    bottom: 30px;
}
  
#globalFeedback.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#leafletInstanceContainer{
    height: 50em;
    background-image: url(../images/earth.gif);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center -19em;
    background-size: 85em;
    border: 1px solid black;
}

#loadingMessage{
    text-align: center;
    background-color: white;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#currentCoords{
    font-weight: bold;
}

 #goToCoords{
    color: black;
    border: 1px solid black;
}
  
  /* Animations to fade in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }