@import "https://unpkg.com/chota@latest";

.tabs {
  white-space: nowrap;
}

textarea {
  resize: vertical;
  max-height: 20rem;
}

.needs-more {
  display: inline-block;
}

.needs-more::before {
  content: "⚠ ";
  color: red;
  display: inline-block;
}

/* Feedback */

#globalFeedback {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px;
    text-align: center;
    position: fixed; 
    z-index: 2; 
    left: 50%;
    bottom: 30px;
}
  
#globalFeedback.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#leafletInstanceContainer{
    height: 70em;
    background-image: url(../images/earth.gif);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center -19em;
    background-size: 85em;
    border: 1px solid black;
}

#loadingMessage{
    text-align: center;
    background-color: white;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#currentCoords{
    font-weight: bold;
}

 #goToCoords{
    color: black;
    border: 1px solid black;
}

.quickAddEntity{
    position: fixed;
    top: 20%;
    max-width: 30em;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.quick{
    position: relative;
    display: block;
    top: 4px;
}

.quickAddEntity input{
    margin: 12px 0px;
}

.pageShade{
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.removeCollectionItem {
    display: none;
}

.disassociate{
    text-decoration: line-through wavy red 3px;
}

.viewCollectionItem{
    margin-left: .5rem
}

a.tag{
    cursor: pointer;
}
  
  /* Animations to fade in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  li.text-primary::marker {
    content:"✓ ";
  }
  [deer-collection*="LivedReligion"] h2 {
    display: none; /* hide titles in default 'list' template */
  }
  
  .selectedEntities{
    top: -8px;
    position: relative;
  }
  
  input, textarea, select {
    margin: 3px 0px;
}

#fieldNotesFloater{
    position: fixed;
    left: 0;
    top: 3.5em;
    width: 40px;
    height: 40px;
    transition: width 0.5s, box-shadow 1s;
    -webkit-transition: width 0.5s, box-shadow 1s;
    -moz-transition: width 0.5s, box-shadow 1s;
    background-color: lightgray;
    z-index: 1;
}
.fieldNotesInnards{
    transition: width 0.5s, box-shadow 1s;
    -webkit-transition: width 0.5s, box-shadow 1s;
    -moz-transition: width 0.5s, box-shadow 1s;
}
.fieldNotesInnards input{
    margin: .6em;
}

#notesIcon{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#notesIcon:hover{
    border: 2px solid black;
}
#notesInfoShort, #notesInfoLong{
    position: relative;
}
#notesTitle{
    text-align:center;
}
#fieldNotes textarea{
    height: 185px;
    max-width: 500px;
    max-height: 41em;
    font-size: 90%;
}
div[media-key="image"] img{
    max-height: 200px;
    max-width: 400px;
    position: relative;
    display: inline-block;
}
div[media-key="audio"] audio{
    position: relative;
    display: inline-block;
}
div[media-key="video"] video{
    max-height: 200px;
    max-width: 400px;
    position: relative;
    display: inline-block;
}
ul.scrollableMedia {
   white-space: nowrap;
   overflow-x: scroll;
   margin: 3em 0px 0px 0px;
}
ul.scrollableMedia li {
   display:inline;
   margin-right: 10px
}
li img{
    max-height: 200px;
    max-width: 400px;
}
li audio{

}
li video{
    max-height: 200px;
    max-width: 400px;
}
div[assigned-media-image] img{
    max-height: 400px;
    max-width: 800px;
}
div[assigned-media-audio] audio{
    
}
div[assigned-media-video] video{
    max-height: 400px;
    max-width: 800px;
}
.undo{
    font-size: 21pt;
    color: green;
    line-height:1;
    margin-left:3px;
}

.removeAssociatedMedia {
    margin-left: 3px;
}