@import "https://unpkg.com/chota@latest";

.tabs {
  white-space: nowrap;
}

textarea {
  resize: vertical;
  max-height: 20rem;
}

.needs-more {
  display: inline-block;
}

.needs-more::before {
  content: "⚠ ";
  color: red;
  display: inline-block;
}

/* Feedback */

#globalFeedback {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px;
    text-align: center;
    position: fixed; 
    z-index: 9; 
    left: 50%;
    bottom: 30px;
}
  
#globalFeedback.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#leafletInstanceContainer{
    height: 70em;
    background-image: url(../images/earth.gif);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center -19em;
    background-size: 85em;
    border: 1px solid black;
}

#loadingMessage{
    text-align: center;
    background-color: white;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#currentCoords{
    font-weight: bold;
}

 #goToCoords{
    color: black;
    border: 1px solid black;
}

.quickAddEntity{
    position: fixed;
    top: 20%;
    max-width: 30em;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.quick{
    position: relative;
    display: block;
    top: 4px;
}

.quickAddEntity input{
    margin: 12px 0px;
}

.pageShade{
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.removeCollectionItem {
    display: none;
}

.viewCollectionItem{
    margin-left: .5rem
}

a.tag{
    cursor: pointer;
}
  
  /* Animations to fade in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  li.text-primary::marker {
    content:"✓ ";
  }
  [deer-collection*="LivedReligion"] h2 {
    display: none; /* hide titles in default 'list' template */
  }
  
  .selectedEntities{
    top: -8px;
    position: relative;
  }
  
  input, textarea, select {
    margin: 3px 0px;
}
